@{
    ViewData["Title"] = "Detail";
}
<div class="film-detail">
    <img src="~/imgs/@Model.ImagePath" class="film-img" />
    <div class="film-information">
        <h1>@Model.Name</h1>
        <div class="infor-detail">
            <h3>Producer: @Model.Producer</h3>
            <h3>Directors: @Model.Directors</h3>
            <h3>Duration: @Model.Duration</h3>
            <h3>Country: @Model.Country</h3>
            <h3>PublicDate: @Model.PublicDate.ToString("MMMM/dd/yyyy")</h3>
            <h3>Rate:</h3>
            <div class="demo-vote">
                <div class="number-star">
                    @for (int j = 0; j < @Model.NumberOfVote; j++)
                    {
                        <img src="~/imgs/star.png" class="demo-vote-star" />
                    }
                </div>
            </div>
        </div>
        <h4>Lịch chiếu</h4>
        <div class="show-time">
            @if (ViewBag.ShowTimes.Count == 0)
            {
                <h3 style="color:white">Film has not show time</h3>
            }
            else
            {
                @foreach (var c in ViewBag.ShowTimes)
                {

                    <a asp-controller="booking" asp-action="room" asp-route-id="@c.Id" class="show-time-detail">
                        @c.TimeShow.ToString("dd-MM-yyyy hh:mm") - @c.TimeShow.AddMinutes(c.Film.Duration).ToString("hh:mm")
                    </a>

                }
            }
        </div>
    </div>
</div>


